.atributes {
   display: flex;
   justify-content: center;

   .atributes-image {
      filter: brightness(0);
      max-width: 512px;
   }

   .atribute-value {
      width: 130px;
      height: 120px;
      position: absolute;
      text-align: center;
      font-size: 45px;
      cursor: pointer;

      &.agi {
         transform: translate3d(-2px, 50px, 0);
      }

      &.for{
         transform: translate3d(-162px, 157px, 0);
      }

      &.int {
         transform: translate3d(158px, 157px, 0);
      }

      &.pre {
         transform: translate3d(-116px, 350px, 0);
      }

      &.vig {
         transform: translate3d(111px, 350px, 0);
      }
   }
}

ion-modal {
   // --height: 40%;
   // top: -220px;
   // --border-radius: 16px;
   // --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

   // ion-toolbar {
   //    --background: rgb(14 116 144);
   //    --color: white;
   // }

   ion-content {
      p {
         text-align: center;
         font-size: 18px;
      }

      .modal-atribute {
         display: flex;
         justify-content: center;
         font-size: 3.5em;
         gap: 5%;
         margin-top: 15%;
      }
   }
}

ion-modal::part(backdrop) {
   background: rgb(132, 133, 135);
   opacity: 1;
}

@media(max-width:569px) {
   .atributes-image {
      max-width: 388px !important;
   }

   .atribute-value {
      width: 100px !important;
      height: 87px !important;
      font-size: 35px !important;

      &.agi {
         transform: translate3d(-2px, 38px, 0) !important;
      }

      &.for{
         transform: translate3d(-124px, 120px, 0) !important;
      }

      &.int {
         transform: translate3d(120px, 120px, 0) !important;
      }

      &.pre {
         transform: translate3d(-89px, 268px, 0) !important;
      }

      &.vig {
         transform: translate3d(84px, 268px, 0) !important;
      }
   }

   ion-modal {
      --height: 80% !important;
      top: 0px !important;
   }
}

@media(max-width:440px) {
   .atributes-image {
      max-width: 300px !important;
      min-width: 300px !important;
   }

   .atribute-value {
      width: 77px !important;
      height: 68px !important;
      font-size: 30px !important;

      &.agi {
         transform: translate3d(-2px, 30px, 0) !important;
      }

      &.for{
         transform: translate3d(-96px, 93px, 0) !important;
      }

      &.int {
         transform: translate3d(92px, 93px, 0) !important;
      }

      &.pre {
         transform: translate3d(-69px, 207px, 0) !important;
      }

      &.vig {
         transform: translate3d(66px, 207px, 0) !important;
      }
   }

   ion-modal {
      --height: 100% !important;
      top: 0px !important;
   }
}
