<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="pages-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Personagem</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="background-cinza-dot">
   <ion-card>
      <!-- <ion-card-header>
         <ion-card-title>Atributos</ion-card-title>
      </ion-card-header > -->
      <ion-card-content>
         <app-ordem-paranormal-atributes></app-ordem-paranormal-atributes>
      </ion-card-content>
   </ion-card>
</ion-content>
