<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="pages-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Personagem</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="background-cinza-dot">

   <ion-card>
      <ion-card-header>
         <ion-card-title>Atributos</ion-card-title>
      </ion-card-header >
      <ion-card-content>
         <div class="atributes">
            <ion-img class="atributes-image" src="assets/images/atributos_ordem.webp.png">
            </ion-img>
            <div class="atribute-value atribute-agildiade">1</div>
            <div class="atribute-value atribute-forca">1</div>
            <div class="atribute-value atribute-intelecto">1</div>
            <div class="atribute-value atribute-presenca">1</div>
            <div class="atribute-value atribute-vigor">1</div>
         </div>
      </ion-card-content>
   </ion-card>


</ion-content>
