<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="pages-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dados</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="background-cinza-dot">

   <ion-card>
      <ion-card-content>
         <ion-grid>
            <ion-row>
               <ion-col size="12">
                  <ion-item class="ion-no-padding" mode="md">
                     <!-- <ion-label position="fixed">Quantidade de dados</ion-label> -->
                     <div class="ion-no-margin" slot="start">
                        <ion-button (click)="rollTimesChange(-1)">
                           <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                        </ion-button>
                     </div>
                     <ion-input class="ion-text-center ion-no-margin f-s-20" type="number" [(ngModel)]="model.rollTimes"
                        min="1" max="6"></ion-input>
                     <div class="ion-no-margin" slot="end">
                        <ion-button (click)="rollTimesChange(1)">
                           <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                     </div>
                  </ion-item>
               </ion-col>
               <!-- <ion-col size="12">
                  <ion-radio-group [(ngModel)]="model.rollOperation" class="radio-group c-pointer" mode="md">
                     <div *ngFor="let operation of rollOperations" (click)="model.rollOperation = operation.id">
                        <ion-radio slot="start" [value]="operation.id" class="ion-no-margin radio-icon"></ion-radio>
                        <ion-label class="radio-label" >{{operation.title}}</ion-label>
                     </div>
                   </ion-radio-group>
               </ion-col> -->
               <!-- <ion-col size="12">
                  <ion-radio-group [(ngModel)]="model.rollOperation">
                     <ion-row>
                        <ion-col size="12" size-sm="6" size-lg="4" size-xl="3" *ngFor="let operation of rollOperations">
                           <ion-item lines="none">
                              <ion-radio slot="start" [value]="operation.id" class="ion-no-margin"></ion-radio>
                              <ion-label style="margin-left: 10px;">{{operation.title}}</ion-label>
                            </ion-item>
                        </ion-col>
                     </ion-row>
                   </ion-radio-group>
               </ion-col> -->
               <ion-col size="12">
                  <ion-radio-group [(ngModel)]="model.rollOperation">
                     <ion-row>
                        <ion-col size="12" size-sm="6" size-lg="4" size-xl="3" *ngFor="let operation of rollOperations">
                           <ion-button expand="block" (click)="model.rollOperation = operation.id"
                              [fill]="model.rollOperation === operation.id ? 'solid' : 'outline'"
                              [color]="model.rollOperation === operation.id ? 'primary' : 'medium'">
                              {{operation.title}}
                           </ion-button>
                        </ion-col>
                     </ion-row>
                  </ion-radio-group>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card-content>
   </ion-card>

   <ion-card>
      <ion-card-header>
         <ion-card-title>Dados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-grid>
            <ion-row>
               <ion-col size="12" class="dices-list">
                  <ion-button size="large" color="light" class="normal-dice"
                     [expand]="(dice.expertises && dice.expertises.length > 0) ? 'block' : ''"
                     *ngFor="let dice of dicesFormulas" (click)="rollDices(dice);">
                     {{dice.name}}
                  </ion-button>
               </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top ion-justify-content-center">
               <ion-col size="12" size-md="6"
                  *ngFor="let dice of especialDicesFormulas" (click)="rollDices(dice);">
                  <div class="c-pointer ion-text-center special-dice">
                     <h1><b>{{dice.name}}</b></h1>
                     <p [innerHTML]="dice.formulaDescription"></p>
                  </div>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card-content>
   </ion-card>

   <!-- <ion-modal #diceRollScreen swipeToClose="true" mode="ios">
      <ng-template>
         <ion-header>
            <ion-toolbar>
               <ion-buttons slot="end" style="margin-right: 5px;">
                  <ion-button [strong]="true" color="dark" (click)="diceRollScreen.dismiss()"> X </ion-button>
               </ion-buttons>
            </ion-toolbar>
         </ion-header>
         <ion-content class="ion-padding">
            <p class="ion-text-center" *ngIf="diceDescription"> asd </p>
            <app-animated-dice [dicesResultList]="dicesResultList"></app-animated-dice>
         </ion-content>
      </ng-template>
   </ion-modal> -->

</ion-content>
